[Unit]
Description=Chad MC flask server
After=network.target

[Service]
Restart=always
WorkingDirectory=/usr/local/gemini-mc
ExecStart=/usr/local/gemini-mc/.venv/bin/python3 /usr/local/gemini-mc/main.py

[Install]
WantedBy=multi-user.target