[Unit]
Description=Chad MC flask server
After=network.target

[Service]
Restart=always
WorkingDirectory=~/gemini-mc-server
ExecStart=~/gemini-mc-server/.venv/bin/python3 ~/gemini-mc-server/main.py

[Install]
WantedBy=multi-user.target